:root {
  /* colors */
  --color-main: #2e2f42;
  --color-secondary: #434455;
  --color-acent: #4d5ae5;
  --color-bg: #ffffff;
  --color-bg-secondary: #f4f4fd;
  --color-border: #e7e9fc;
  --color-icon: #8e8f99;

  /* gaps */
  --gap-24: 24px;

  /* shadow */
  --shadow-main: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-secondary);

  background-color: var(--color-bg);
}

/* ------- DROP STYLE ------- */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

/* hiden text */
.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ------- /DROP STYLE ------- */

/* ------- COMPONENTS ------- */
.container {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid red; */
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-main);
}

.caption {
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
}

.current {
  color: var(--color-acent);
}
/* ------- /COMPONENTS ------- */

/* ------- HEADER ------- */
.header {
  padding-top: var(--gap-24);
  padding-bottom: var(--gap-24);
}

.header-shadow {
  box-shadow: var(--shadow-main);
}

.nav-menu {
  display: flex;
}

/* logo */
.logo {
  margin-right: 77px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-main);
}

.logo-acent {
  color: var(--color-acent);
}

/* navigation menu */
.nav-menu-list {
  display: flex;
}

.nav-menu-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.nav-menu-item:not(:last-child) {
  margin-right: 40px;
}

.nav-menu-link {
  display: block;
  color: var(--color-main);
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--color-secondary);
}

/* contact menu */
.contact {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 40px;
}

.contact-link {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--color-secondary);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-acent);
}
/* ------- /HEADER ------- */

/* ------- MAIN ------- */
/* hero */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 192px;
  padding-bottom: 192px;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/bg.jpg);
  background-size: cover;
  background-color: var(--color-main);
}

.hero > .container {
  align-items: center;
  flex-direction: column;
}

.hero-title {
  max-width: 492px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-bg);
}

.hero-btn {
  display: inline-block;
  margin-top: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-bg);

  background-color: var(--color-acent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: var(--shadow-main);
}

.hero-btn:active {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* about */
.about {
  padding-bottom: 0;
}

.about-list {
  display: flex;
  gap: var(--gap-24);
}

.about-icon-container {
  display: flex;
  margin-bottom: 8px;
  height: 112px;
  justify-content: center;
  align-items: center;

  background-color: var(--color-bg-secondary);
  border-radius: 4px;
}

.about-icon {
  width: 64px;
  height: 64px;
}

/* what are we doing */
.work > .container {
  flex-direction: column;
}

.work-list {
  display: flex;
  gap: var(--gap-24);
}

.work-image {
  display: block;
}

/* team */
.team {
  background-color: var(--color-bg-secondary);
}

.team > .container {
  flex-direction: column;
}

.team-list {
  display: flex;
  gap: var(--gap-24);
}

.team-list-card {
  box-shadow: var(--shadow-main);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--color-bg);
}

.team-image {
  display: block;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
}

.team-social-list {
  display: flex;
  margin-top: 12px;
  gap: var(--gap-24);
}

.team-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-acent);
}

.team-social-icon {
  width: 16px;
  height: 16px;
  fill: var(--color-bg-secondary);
}

/* customers */
.customers > .container {
  flex-direction: column;
}

.customer-list {
  display: flex;
  gap: var(--gap-24);
}

.customer-social-link {
  display: flex;
  width: 168px;
  height: 88px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  color: var(--color-icon);
}

.customer-social-link:hover,
.customer-social-link:focus {
  border-color: var(--color-acent);
  color: var(--color-acent);
}

.customer-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
/* ------- /MAIN ------- */

/* ------- FOOTER ------- */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-main);
}

.logo-foter-container {
  margin-right: 120px;
}

.logo-footer {
  color: var(--color-bg-secondary);
}

.logo-text {
  margin-top: 16px;

  max-width: 264px;
  line-height: 1.5;
  color: var(--color-border);
}

/* social */
.social {
  margin-right: 80px;
}

.social-title,
.subscribe-title {
  color: var(--color-bg);
}

.social-list {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.social-link-footer {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.social-icon-footer {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  fill: var(--color-bg-secondary);
}

/* subscribe */
/* ------- /FOOTER ------- */

/* ------- PORTFOLIO ------- */
.portfolio {
  padding-top: 96px;
}

.portfolio > .container {
  display: flex;
  flex-direction: column;
}

/* filters button */
.btn-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  gap: var(--gap-24);
}

.btn-filters {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: var(--gap-24);
  padding-right: var(--gap-24);

  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-acent);

  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.btn-filters:hover,
.btn-filters:focus {
  color: var(--color-bg);
  background-color: var(--color-acent);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* examples */
.examples {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-24);
}

.examples-image {
  display: block;
}

.examples-text {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;

  border: 0.5px solid var(--color-bg-secondary);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-top: none;
}

.examples-list:hover,
.examples-list:focus {
  box-shadow: var(--shadow-main);
}
/* ------- /PORTFOLIO ------- */
